<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Tell Azure App Service that the app is Node.js -->
    <webSocket enabled="false" />
    
    <!-- Rewrite requests to the Node.js process -->
    <rewrite>
      <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>

        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="dist/index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 'bin' directory has no special meaning in Node.js and apps in general -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Indicates that the app.js file is a Node.js site to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Recommended iisnode configuration settings -->
    <iisnode 
      nodeProcessCommandLine="node.exe"
      interceptor="node_modules\iisnode\lib\interceptor.js"
      maxLogFileSizeInKB="128"
      loggingEnabled="true"
      devErrorsEnabled="false"
    />
  </system.webServer>
</configuration>
